<div *ngIf="contactList && contactList.length> 0">
  <h1> Contact List</h1>
  <div class="card col-sm-4" *ngFor="let contact of contactList">
    <div class="card-body">
      <h5 class="card-title"><a routerLink="/contacts/{{contact.id}}">{{ contact.name }}</a></h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ contact.company.name }}</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="card-link">{{ contact.phone }}</a>
      <a href="#" class="card-link">{{ contact.email }}</a>
    </div>
  </div>
</div>
